# Notebook for exploration of the EEL data at specific depth lvl

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.precision", 4)

## 1. Load data into Dataframe

In [86]:
pathdir = '../data/raw/csv_ctdgrid/'

# List available data files
import glob
listfiles= glob.glob(pathdir+'/'+'*.csv');
print(*listfiles, sep = "\n")

../data/raw/csv_ctdgrid/EELCTDandLADCP_refpos.csv
../data/raw/csv_ctdgrid/EEL_LADCP_3Dfield.csv
../data/raw/csv_ctdgrid/EELCTDandLADCP_refdate.csv
../data/raw/csv_ctdgrid/EELCTDandLADCP_2Dfield.csv
../data/raw/csv_ctdgrid/EELCTDandLADCP_3Dfield.csv

#### Import 3D Fields

In [87]:
file1 = pathdir+'/'+'EELCTDandLADCP_3Dfield.csv'
df3D = pd.read_csv(file1,sep=',', index_col=None, 
                     header=0)
df3D

,CruiseID,Staname,Refdist,Depth,PTMP,PSAL,Sigma0,Vrel,Vladcp,Vabs,Vladcpalong
0,d22396,14G,1180.885,25,13.1119,35.1942,26.5205,0.0706,-0.0133,0.0548,-0.1477
1,d22396,14G,1180.885,35,13.0846,35.1924,26.5247,0.0704,0.0063,0.0546,-0.1568
2,d22396,14G,1180.885,45,12.9358,35.1840,26.5473,0.0710,0.0106,0.0552,-0.1566
3,d22396,14G,1180.885,55,12.3988,35.1893,26.6555,0.0699,0.0305,0.0541,-0.1652
4,d22396,14G,1180.885,65,11.8618,35.1946,26.7636,0.0639,0.0666,0.0481,-0.1961
...,...,...,...,...,...,...,...,...,...,...,...
57865,dy078,IB22S,13.442,65,7.9411,35.0637,27.3330,-0.0526,0.0139,-0.0048,0.0319
57866,dy078,IB22S,13.442,75,7.9154,35.0682,27.3404,-0.0520,-0.0208,-0.0042,0.0283
57867,dy078,IB22S,13.442,85,7.8916,35.0745,27.3489,-0.0517,-0.0210,-0.0039,0.0155
57868,dy078,IB22S,13.442,95,7.8567,35.0766,27.3558,-0.0514,-0.0338,-0.0036,0.0121
57869,dy078,IB22S,13.442,105,7.8338,35.0789,27.3611,-0.0512,-0.0339,-0.0034,0.0018

#### Import Metadata

In [88]:
# Date of each cruise
file2 = pathdir+'/'+'EELCTDandLADCP_refdate.csv'
dfdate = pd.read_csv(file2,sep=',', index_col=None, 
                     header=0)
print(dfdate)

   CruiseID  Year  Month
0    d22396  1996     10
1    d23097  1997      9
2    d23398  1998      5
3    d24299  1999      9
4    d24500  2000      2
5    d25301  2001     12
6   cd17605  2005     10
7    d31206  2006     10
8    d32107  2007      8
9    d34009  2009      6
10   d35110  2010      5
11   d36511  2011      5
12    jc086  2013      5
13    jr302  2014      7
14    dy031  2015      6
15    dy052  2016      6
16    dy078  2017      5

In [89]:
# Location of EEL stations
file3 = pathdir+'/'+'EELCTDandLADCP_refpos.csv'
dfloc = pd.read_csv(file3,sep=',', index_col=None, 
                     header=0)
#print(dfloc.info())

# Make sure the station name are sorted by their distance along the section
sdfloc = dfloc.sort_values('Refdist', ascending=True)
print(f"\n {sdfloc.iloc[:,:2]}")

    Staname    Refdist
68   IB23S     0.0000
67   IB22S    13.4420
66   IB21S    25.3751
65   IB20S    55.6168
64   IB19S    84.0257
..     ...        ...
4       5G  1277.4894
3       4G  1286.6325
2       3G  1292.4056
1       2G  1298.2353
0       1G  1307.5635

[69 rows x 2 columns]

<br><br>
## 2. Create Pivot Tables of Absolute geostrophic velocities at specific depth

#### Create several pivot tables for different depths and store them in a dictionary

In [90]:
# Depth of interest
zlist= [105, 505, 805, 2505]

In [91]:
# Create list of empty dictionary
Vabsbyz = []
# Create list of dictionary
for k in zlist:
    df = df3D[df3D['Depth']==k].pivot(values="Vabs", index="CruiseID", columns="Staname")
    df= df.round(decimals=3)
    Vabsbyz.append({'Depth':str(k),'Data':df})
    
print(f" Dataframe for {Vabsbyz[0]['Depth']}m depth:")
Vabsbyz[0]['Data']

 Dataframe for 105m depth:

Staname,14G,15G,8G,9G,A,B,C,D,E,F,...,L,M,N,O,P,Q,Q1,R,S,T
CruiseID,,,,,,,,,,,,,,,,,,,,,
cd17605,-0.036,NaN,0.099,NaN,NaN,NaN,-0.029,-0.017,0.040,-0.129,...,0.085,0.151,-0.057,-0.012,-0.005,0.272,0.147,NaN,NaN,NaN
d22396,NaN,NaN,NaN,NaN,NaN,NaN,0.088,0.028,-0.020,0.068,...,-0.117,-0.122,0.110,0.024,0.071,0.218,0.155,NaN,NaN,NaN
d23097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047,0.126,...,NaN,NaN,-0.043,0.045,0.001,0.048,0.006,NaN,NaN,NaN
d23398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.024,0.290,...,NaN,NaN,-0.070,-0.059,0.059,0.296,0.237,NaN,NaN,NaN
d24299,NaN,NaN,NaN,NaN,-0.015,-0.060,0.220,0.129,0.032,0.010,...,0.059,-0.226,-0.063,0.025,0.133,0.147,0.138,NaN,NaN,NaN
d24500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.023,-0.080,-0.239,0.052,0.110,0.035,0.173,NaN,NaN,NaN
d31206,NaN,-0.156,NaN,NaN,0.001,0.153,-0.179,-0.019,-0.139,0.352,...,-0.051,0.048,0.071,0.010,0.008,0.176,0.128,-0.037,-0.196,0.022
d34009,NaN,-0.183,NaN,NaN,NaN,-0.067,0.059,-0.354,-0.276,0.134,...,-0.144,-0.136,-0.063,-0.057,0.034,0.227,0.132,-0.026,-0.258,NaN
d35110,NaN,-0.071,NaN,0.180,NaN,NaN,0.196,-0.101,-0.141,0.159,...,-0.307,-0.303,0.136,0.171,0.051,0.114,0.100,-0.022,-0.096,-0.061
d36511,NaN,NaN,NaN,NaN,NaN,NaN,-0.225,-0.297,NaN,NaN,...,-0.264,-0.183,0.300,0.200,0.047,0.163,0.100,0.070,NaN,NaN
dy031,NaN,0.082,-0.070,0.120,NaN,-0.004,0.249,0.010,0.005,-0.003,...,0.301,0.261,-0.044,-0.046,0.065,0.048,0.095,0.241,0.217,-0.075
dy052,NaN,0.004,-0.128,-0.074,NaN,NaN,-0.123,-0.061,-0.128,0.204,...,-0.093,-0.126,0.114,-0.002,-0.043,0.143,0.062,0.193,0.043,-0.085
dy078,NaN,0.167,0.131,0.139,NaN,NaN,0.045,-0.119,-0.290,0.199,...,-0.121,-0.039,0.075,0.063,-0.018,0.088,-0.010,0.087,0.260,NaN
jc086,NaN,NaN,NaN,NaN,NaN,NaN,0.052,0.029,-0.173,-0.095,...,-0.056,-0.128,-0.173,0.165,0.206,-0.061,0.115,0.078,NaN,NaN
jr302,NaN,NaN,NaN,NaN,NaN,-0.083,0.156,0.140,0.013,-0.114,...,-0.061,0.136,0.193,-0.015,-0.028,0.093,-0.001,0.219,NaN,NaN

\
##### Add the table *df_DA* calculated from the depth average to the list:

In [92]:
# Create Pivot Table average over depth
df_DA = df3D.pivot_table(values="Vabs", index="CruiseID", columns="Staname")

Vabsbyz.append({'Depth': 'Mean', 'Data': df_DA})
print(len(Vabsbyz))

5

<br><br>  
## 3. Sort the dataframe 
### 3.a. Sort the rows according to year of the cruise
##### Merge the dataframe with the dataframe *dfdate* which link each cruise ID to a year and a month

In [93]:
for k,c in enumerate(Vabsbyz):
    df = Vabsbyz[k]['Data']
    dfnew=pd.merge(dfdate[['CruiseID','Year']],
                    df,
                    how='left',
                    on='CruiseID')
    dfnew = dfnew.drop(columns='CruiseID')    
    dfnew = dfnew.set_index('Year',drop=True)  
    Vabsbyz[k]['Data'] = dfnew




# # Visual check
# print(f"First 3 columns of original dataframe for {Vabsbyz[k]['Depth']} depth :\n {df.iloc[:,:3]}")
# print(f"\n and for the new merged dataframe:\n {dfnew.iloc[:,:6]}")

<br><br>
### 3.b. Sort the columns according to location of the station on the reference section *list2*

In [94]:
# importing "copy" for copy operations 
import copy 

list2 = list(sdfloc.Staname)

# Copy list so the new list is independant (In Python, Assignment statements do not copy objects)
Vabsbyz_sort = copy.deepcopy(Vabsbyz)

# Sorty the Dataframe element in the list of dictionary
for k,c in enumerate(Vabsbyz_sort):
    df = Vabsbyz_sort[k]['Data']
    
    # List of the station name from the dataframe
    list1 = list(df.columns[:])  
    
    # Using list comprehension and the enumerate() function to sort list1 elements according to list2 order:
    isort = [c for xref in list2 for c,values in enumerate(list1,0) if values == xref] 
        
    # Sort the order of the column station name in dataframe
    Vabsbyz_sort[k]['Data']= df.iloc[:,isort]
    
# print(Vabsbyz[k]['Data'])
# print(Vabsbyz_sort[k]['Data'])

\
Display first columns of original and new list:

In [95]:
print(Vabsbyz[0]['Data'].iloc[:,:5])
print("\n")
print(Vabsbyz_sort[0]['Data'].iloc[:,:5])

        14G    15G     8G     9G      A
Year
1996    NaN    NaN    NaN    NaN    NaN
1997    NaN    NaN    NaN    NaN    NaN
1998    NaN    NaN    NaN    NaN    NaN
1999    NaN    NaN    NaN    NaN -0.015
2000    NaN    NaN    NaN    NaN    NaN
2001    NaN    NaN    NaN    NaN    NaN
2005 -0.036    NaN  0.099    NaN    NaN
2006    NaN -0.156    NaN    NaN  0.001
2007    NaN    NaN    NaN    NaN    NaN
2009    NaN -0.183    NaN    NaN    NaN
2010    NaN -0.071    NaN  0.180    NaN
2011    NaN    NaN    NaN    NaN    NaN
2013    NaN    NaN    NaN    NaN    NaN
2014    NaN    NaN    NaN    NaN    NaN
2015    NaN  0.082 -0.070  0.120    NaN
2016    NaN  0.004 -0.128 -0.074    NaN
2017    NaN  0.167  0.131  0.139    NaN


      IB22S  IB21S  IB20S  IB19S  IB18S
Year
1996    NaN    NaN    NaN    NaN    NaN
1997    NaN    NaN    NaN    NaN    NaN
1998    NaN    NaN    NaN    NaN    NaN
1999    NaN    NaN    NaN    NaN    NaN
2000    NaN    NaN    NaN    NaN    NaN
2001    NaN    NaN    NaN    NaN    NaN
2005  0.075  0.073  0.017 -0.195 -0.097
2006  0.035  0.074  0.141 -0.097  0.075
2007    NaN    NaN    NaN    NaN    NaN
2009    NaN    NaN    NaN    NaN    NaN
2010 -0.100  0.038 -0.022 -0.070  0.052
2011 -0.060  0.150 -0.127 -0.038 -0.137
2013    NaN  0.127 -0.039 -0.109 -0.014
2014 -0.098  0.051 -0.044 -0.103 -0.071
2015 -0.095 -0.084 -0.001  0.053 -0.136
2016 -0.034 -0.013  0.029  0.057 -0.163
2017 -0.003 -0.114 -0.086 -0.102 -0.064

\
### Save temporary data

In [96]:
import pickle
pathdata = "../data/interim/"
filename = pathdata + "Zlvl_Vabs"
with open(filename, 'wb') as f:
    pickle.dump(Vabsbyz_sort, f)

## 4. Repeat the process for other variables

#### 4.1 Define a function which "slice" a 3D section (Depth x Lon x Time) for specific depths and store the 2D table generated (Lon x Time) in a list of dictionary.

The function read a csv file (generated in Matlab) where each row of the file corresponds to an element (i,j,k) of a 3D grid. The total number of rows is the product of the 3 dimensions (Depth x Lon x Time). The number of columns of the CSV file is the sum of the number of dimensions (3 in the case of a 3D grid) with the numbers of 3D variables extracted at each grid point (e.g. temperature, salinity, velocity,...)  + number of other informative variable (e.g. distance along the section)

In [97]:
def extract2Ddata_bydepth(Vartoextract,pathcsv='../data/raw/csv_ctdgrid/'+'EELCTDandLADCP_3Dfield.csv',zdepths= [105, 505, 805, 2505]):
    """ Function which extracts the variable $Vartoextract$ of a dataframe for specific depths and 
    stores the 2D tables generated (Lon x Time) in a dictionary.
    
    The function read a csv file (generated in Matlab) where each row of the file corresponds to 
    an element (i,j,k) of a 3D grid (Depth x Lon x Time). The total number of rows is the product 
    of the 3 dimensions. The number of columns of the CSV file is the sum of the number of dimensions 
    (3 in the case of a 3D grid) with the numbers of 3D variables extracted at each grid point 
    (e.g. temperature, salinity, velocity,...)  + number of other informative variable 
    (e.g. distance along the section)
    
    Returns:
    A list of dictionary where the list length correspond to the number of depth specified + 1 
    (the depth average variable). Each list element consists in a dictionary with two keys 'Depth' and 'Data'.
    'Depth' is a string indicating the depth of extraction of the variable
    'Data' is the 2D dataframe extracted from the main dataframe

    """
    
    # Load csv file  
    df3D = pd.read_csv(pathcsv,sep=',', index_col=None, 
                     header=0)

    # Create list of empty dictionary
    ListDict = []
    # Extract 
    for k in zlist:
        df = df3D[df3D['Depth']==k].pivot(values=Vartoextract, index="CruiseID", columns="Staname")
        df= df.round(decimals=3)
        ListDict.append({'Depth':str(k)+'m','Data':df})

    # Create Pivot Table average over depth
    df_DA = df3D.pivot_table(values=Vartoextract, index="CruiseID", columns="Staname")

    ListDict.append({'Depth': 'Mean', 'Data': df_DA})
    return (ListDict)

#### 4.2 Define a function which is going to sort the row and column of a 2D dataframe according to other metadata

In our case the dimensions of the 2D dataframe (Pivot Table) are CruiseID X Station_Name. By default in Pandas the row and columns of the pivot table are sorted. In our case the alphabetical order doesnt match the chronological order for the Cruise ID or the distance of the station for the Station_Name. We need to reorder columns and rows according to this.

In [98]:
def sortPivotTable(dftosort,rowdf=[],columndf=[]):
    """ 
    Function the row and column of a 2D dataframe according to other dataframe containing the metadata information 
    (rowdf for metadata information on the row, and columndf for the metadata information on the column).
    By default in Pandas, the row and columns of pivot table are in ascending order. In our case the alphabetical order 
    doesnt match the chronological order for the Cruise ID or the section distance for the Station_Name variable. 
    We need to reorder columns and rows according to this. 

    """
    df = dftosort    
    
    if not rowdf.empty:
        # Sort the rows according to year of the cruise and replace the 
        # Merge the dataframe with the dataframe *dfdate* which link each cruise ID to a year and a month   
        dfnew=pd.merge(rowdf[['CruiseID','Year']],
                        df,
                        how='left',
                        on='CruiseID')
         # Here we drop the Cruise ID index and replace it by the year variable
        dfnew = dfnew.drop(columns='CruiseID')
        dfnew = dfnew.set_index('Year',drop=True)  
        df = dfnew

    if not columndf.empty:
        # Sort the columns according to geographical location of the station and not the alphabetical order of their name
        list2 = list(columndf.Staname)        
        # List of the station name from the dataframe
        list1 = list(df.columns[:])  
        # Using list comprehension and the enumerate() function to sort list1 elements according to list2 order:
        isort = [c for xref in list2 for c,values in enumerate(list1,0) if values == xref]   
        # Sort the order of the column station name in dataframe
        df= df.iloc[:,isort]
    
    if (rowdf.empty==True) and (columndf.empty==True):
        print("\nNeed to reference dataframe")
        
    return df

In [99]:
import copy 
import pickle

pathdata = "../data/interim/"


# Variable available in dataframe: PTMP	PSAL	Sigma0	Vrel	Vladcp	Vabs	Vladcpalong
for vartoextract in ['Vabs','Vladcp','Vladcpalong']:
    Varbyz=extract2Ddata_bydepth(vartoextract)

    # Copy list so the new list is a new object (In Python, Assignment statements do not copy objects)
    Varbyz_sort = copy.deepcopy(Varbyz)

    for k,c in enumerate(Varbyz):
        df = Varbyz[k]['Data']
        Varbyz_sort[k]['Data']= sortPivotTable(df,rowdf=dfdate,columndf=sdfloc)

    # Save the file
    filename = pathdata + "Zlvl_" + vartoextract
    with open(filename, 'wb') as f:
        pickle.dump(Varbyz_sort, f)

In [100]:
# test load
filename = pathdata + "Zlvl_Vladcp"
with open(filename, 'rb') as f:
    Vladcp= pickle.load(f)
Vladcp[0]['Data'].head()

,IB22S,IB21S,IB20S,IB19S,IB18S,IB17,IB16A,IB16,IB15,IB14,...,P,Q1,Q,R,S,15G,T,14G,9G,8G
Year,,,,,,,,,,,,,,,,,,,,,
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.097,0.180,0.263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.058,-0.013,0.032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,0.038,-0.02,-0.079,-0.138,...,0.214,0.279,0.345,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.186,0.215,0.162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.177,0.174,0.094,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# test load
filename = pathdata + "Zlvl_Vladcpalong"
with open(filename, 'rb') as f:
    Vladcpalong= pickle.load(f)
Vladcpalong[0]['Data']

,IB22S,IB21S,IB20S,IB19S,IB18S,IB17,IB16A,IB16,IB15,IB14,...,P,Q1,Q,R,S,15G,T,14G,9G,8G
Year,,,,,,,,,,,,,,,,,,,,,
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.112,-0.082,-0.053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.088,-0.132,-0.177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,-0.125,-0.084,0.008,0.100,...,-0.146,-0.117,-0.088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.051,-0.001,0.010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.174,-0.158,-0.240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,-0.220,-0.237,0.051,-0.190,-0.088,NaN,NaN,NaN,NaN,NaN,...,-0.013,-0.068,-0.124,NaN,NaN,NaN,NaN,-0.136,NaN,0.036
2006,-0.224,-0.014,-0.132,-0.041,-0.038,0.053,-0.150,-0.353,-0.125,-0.339,...,-0.019,0.004,0.027,0.058,0.089,-0.001,-0.206,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.076,0.001,0.020,...,0.029,-0.023,-0.074,0.277,0.104,-0.005,NaN,NaN,NaN,NaN
2010,-0.070,0.056,-0.062,-0.057,0.005,0.055,-0.172,-0.087,-0.031,0.025,...,0.027,0.026,0.024,0.126,0.101,-0.002,-0.065,NaN,0.120,NaN
2011,-0.061,-0.084,-0.073,-0.110,-0.077,0.064,0.062,-0.066,-0.014,-0.021,...,-0.109,-0.018,0.074,0.292,NaN,NaN,NaN,NaN,NaN,NaN
2013,NaN,-0.049,-0.036,0.025,0.019,0.007,-0.103,0.127,-0.244,-0.164,...,-0.000,-0.021,-0.009,0.179,NaN,NaN,NaN,NaN,NaN,NaN
2014,0.079,0.031,0.048,0.119,0.056,-0.008,0.101,0.056,0.074,-0.019,...,0.035,-0.067,-0.005,0.129,NaN,NaN,NaN,NaN,NaN,NaN
2015,-0.074,-0.151,0.224,-0.029,0.033,-0.115,0.037,-0.106,-0.180,-0.163,...,-0.171,-0.163,-0.173,-0.040,0.128,0.153,0.142,NaN,0.096,-0.142
2016,-0.037,-0.062,-0.095,-0.075,0.061,0.037,0.039,0.131,0.063,0.167,...,0.108,-0.087,-0.019,0.115,0.050,0.004,-0.074,NaN,-0.198,-0.264
2017,0.002,-0.003,-0.030,-0.036,-0.044,0.024,0.033,0.075,0.101,0.025,...,-0.120,-0.083,-0.036,0.173,0.149,0.003,NaN,NaN,0.116,0.124